<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--

	Purpose of software:
		To match the prism survey with the Top of Rail survey

	Supporting Software
		The master excel spreadsheet is needed
		There must be 3 worksheets:
			Prisms
			ToR
			Matched

	Preparation:
		Insert all the prisms into the Prisms worksheet
		Insert the top of rail survey into the Top of Rail worksheet
		Save in the _ToR directory
		
		Run the software

	Output:
		The Matched worksheet is created which matches the prisms to the nearest Top of Rail observation
	-->
	<appSettings>
		<add key="ExcelPath" value="D:\_ToR\" />
		<add key="ExcelFile" value="Allerdene_Prism_ToR_match_20220815.xlsx" />
		<add key="PrismWorksheet" value="TS5_final_prisms" />
		<add key="TORworksheet" value="ToR_20220815" />
		<add key="MatchedWorksheet" value="TS5_Match" />
		<add key="MaximumSeparation" value="0.4" />       <!-- Max hor separation between ToR survey point and prism -->	
		<add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
	</appSettings>
	
	
</configuration>